:root {
  --negro : #060606;
  --grisaceo : #20282e;
  --gris : #415261;
  --azulgrisaceo : #688599;
  --azul : #92bbd9;
  --verdefluor : #7AFD55;
  --colorfondo : rgb(7,39,50);
}

body {
  box-sizing: border-box;
  /*background-color: rgb(1, 0, 59);*/
  background-color: var(--negro);
  color: #aaa;
  /*overflow-y:scroll;
  overflow-x: hidden;
  scrollbar-width: auto;*/
}



/* ::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #dadbd6 80px, #dadbd6 80px, #dadbd6 100%);
}
::-webkit-scrollbar-thumb {
  border-radius: 0.815rem;
  background-color: #484845;
  scrollbar-gutter: stable;
} */

.img {
  background-image: url(./imagenes/universo-neuronal-740x493.jpg);
  width: 100vw;
  height: 85vh;
  filter: blur(2px) brightness(0.3);
  background-size: cover;
}

.obj {
  position: absolute;
  top: 35vh;
  right: 70vw;
  z-index: 100;
}

header {
  display: flex;
  justify-content: center;
  font-size: 5vw;
  font-family: 'Uchen', serif;
  animation: webber;
  animation-duration: 1.5s;
}

.subheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: webber;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  text-align: center;
}

.header {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33vw;
}

main {
  width: 67vw;
}

nav {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
  text-align: center;
  z-index: 200;
  animation: webber;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  height: 15vh;
  width: 100vw;
  background-color: var(--colorfondo); /* gris */
}

nav a {
  display: flex;
  justify-content: center;
  /*flex-grow: 1;*/
  text-decoration: none;
  color:#aaa;
  padding: 1vw 3vw 1vw 3vw;
  margin: 4vw;
}

nav a:hover {
  font-size: larger;
}

nav a p {
  max-width: max-content;
  background-color: var(--grisaceo); /* grisaceo */
  padding: 7px 10px 7px 10px;
  border: 2px double var(--azulgrisaceo);
  border-radius: 5px 5px 5px 5px;
  font-family: 'Uchen', serif;
  font-size: 1.3vw;
  transition: border .5s;
}

nav a p:hover {
  border: 2px double #bbb;
}

.quienessomos{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Uchen', serif;
  opacity: 0;
  animation: webber;
  animation-duration: 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  /*background-color: var(--grisaceo);*/
  color: #222;
  height: 85vh;
  border-left: 2px solid var(--azul);
}

.quienessomos--titulo {
  font-size: xx-large;
  margin: 20px 0 0 0;
  text-shadow: 3px 3px 1px var(--azulgrisaceo);
  background-color: var(--colorfondo); /* gris */
  padding: 2px 10px 2px 10px;
  border: 1px solid var(--azulgrisaceo);
  border-radius: 2px;
  text-align: center;
}

.quienessomos--main {
  text-align: justify;
  /*width: 70vw; */
  /*background-color: var(--azul);*/
  color: #aaa;
  border: 1px solid #222;
  box-shadow: 2px 4px 4px 0 #000;
  padding: 12px;
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.imagenes img {
  height: auto;
  width: 35vw;
  border: 1px solid #222;
  box-shadow: 2px 4px 4px 0 #000;
  margin: 20px;
}

.flex-item {
  flex-grow: 1;
  margin: 15px;
}

.contenedor {
  display: flex;
}

@media screen and (max-width: 1065px) {
  /*body {
    overflow-y:scroll;
    overflow-x: hidden;
    scrollbar-width: auto;
  }*/

  .header {
    width: 100vw;
    height: 85vh;
  }

  .img {
    width: 100vw;
    height: 85vh;
  }

  .obj {
    top: 50%; /* Mover el div hacia abajo 50% */
    left: 50%; /* Mover el div hacia la derecha 50% */
    transform: translate(-50%, -50%); /* Centrar el div */
  }

  .subheader {
    width: max-content;
    position: absolute;
    top: 100%; /* Mover el div hacia abajo 50% */
    left: 50%; /* Mover el div hacia la derecha 50% */
    transform: translate(-50%, -50%); /* Centrar el div */
    font-size: 2vw;
  }
  
  .contenedor {
    flex-direction: column;
  }

  .quienessomos {
    flex-direction: column;
    border-left: none;
  }

  .quienessomos--titulo {
    font-size: 4vw;
  }

  .quienessomos--main {
    font-size: 3vw;
  }

  .imagenes img {
    width: 90vw;
    height: auto;
    margin: 2vw;
  }

  .imagenes {
    flex-direction: column;
  }

  .flex-item {
    margin: 1vw;
    flex-grow: 0;
  }

  nav a {
    padding: .5vh .7vw .5vh .7vw;
  }

  nav a p {
    height: 6vh;
    width: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
  }

  main {
    width: 100vw;
  }
}

@media screen and (max-width: 600px) {
  nav a p {
    font-size: 1.8vw;
  }
}

@keyframes webber {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}